<div class="sidebar-docs uk-position-fixed uk-margin-top">
    <h5>Getting Started</h5>
    <ul class="uk-nav uk-nav-default doc-nav">
        <li class="uk-active"><a href="/docs/">Overview</a></li>
        <li><a href="/docs/coming-soon">App Target Audiences</a></li>
        <li><a href="/docs/coming-soon">Filetronyx Dashboard</a></li>
    </ul>
    <h5>Authentication</h5>
    <ul class="uk-nav uk-nav-default doc-nav">
        <li><a href="/docs/coming-soon">Introduction</a></li>
        <li><a href="/docs/coming-soon">Patient registration</a></li>
        <li><a href="/docs/coming-soon">Provider registration</a></li>
        <li><a href="/docs/coming-soon">Patient/provider login</a></li>
        <li><a href="/docs/coming-soon">Managing users</a></li>
    </ul>
    <h5>Creating a Custom API</h5>
    <ul class="uk-nav uk-nav-default doc-nav">
        <li><a href="/docs/coming-soon">Overview</a></li>
        <li><a href="/docs/coming-soon">Example of a custom Scheduling API</a></li>
    </ul>
    <h5>Healthcare Data Objects & Fields</h5>
    <ul class="uk-nav uk-nav-default doc-nav">
        <li><a href="/docs/coming-soon">Patient</a></li>
        <li><a href="/docs/coming-soon">Provider</a></li>
        <li><a href="/docs/coming-soon">Problem</a></li>
        <li><a href="/docs/coming-soon">Allergy</a></li>
        <li><a href="/docs/coming-soon">Laboratory Result</a></li>
        <li><a href="/docs/coming-soon">Order</a></li>
        <li><a href="/docs/coming-soon">Medication</a></li>
        <li><a href="/docs/coming-soon">Vitals</a></li>
        <li><a href="/docs/coming-soon">Encounter</a></li>
        <li><a href="/docs/coming-soon">Appointment</a></li>
        <li><a href="/docs/coming-soon">AppointmentSlot</a></li>
    </ul>
    <h5>Additional Resources</h5>
    <ul class="uk-nav uk-nav-default doc-nav">
        <li><a href="/docs/coming-soon">filetronyx.js</a></li>
        <li><a href="/docs/coming-soon">Testing</a></li>
        <li><a href="/docs/coming-soon">Examples</a></li>
    </ul>
    <h5>Help & Support</h5>
    <ul class="uk-nav uk-nav-default doc-nav">
        <li><a href="/docs/coming-soon">Contact</a></li>
        <li><a href="/docs/coming-soon">FAQ</a></li>
        <li><a href="/docs/coming-soon">Pricing</a></li>
        <li><a href="/docs/coming-soon">SSL</a></li>
        <li><a href="/docs/coming-soon">Security</a></li>
        <li><a href="/docs/coming-soon">Privacy</a></li>
    </ul>
    <h5>Help & Support</h5>
    <ul class="uk-nav uk-nav-default doc-nav">
        <li><a href="/docs/coming-soon">Terms of Service</a></li>
        <li><a href="/docs/coming-soon">Privacy Policy</a></li>
    </ul>
</div>